<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create Admin</title>
</head>
<body>
<form action="#" th:action="@{/admin-create}" th:object="${admin}" method="post">
    <label for="fullName">Full name</label>
    <input type="text" th:field="*{fullName}" id="fullName" placeholder="FullName">
    <input type="text" th:field="*{login}" id="login" placeholder="login">
    <input type="password" th:field="*{password}" id="password" placeholder="password">
    <input type="submit" value="Create Admin">
</form>

</body>
</html>