<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Orders</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
</head>
<body>
<div th:switch="${orders}">
    <h2 th:case="null">No orders found!</h2>
    <div th:case="*">
        <div class="container text-center">
        <h2>Orders</h2>
        <table class="table table-secondary table-hover">
            <thead>
            <tr>
                <th>Id</th>
                <th>Order name</th>
                <th>Order status</th>
                <th>Order price</th>
                <th>Date time</th>
                <th>Delivery price</th>
                <th>Comments</th>
                <th>Address Details</th>
                <th>Courier</th>
                <th>Admin</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="order : ${orders}">
                <td th:text="${order.id}"></td>
                <td th:text="${order.order_name}"></td>
                <td th:text="${order.order_status}"></td>
                <td th:text="${order.ransom_sum}"></td>
                <td th:text="${order.order_date}" pattern = "yyyy-MM-dd'T'HH:mm"></td>
                <td th:text="${order.delivery_price}"></td>
                <td th:text="${order.comment}"></td>
                <td th:text="${order.addressDetails}"></td>
                <td th:text="${order.courier.fullName}"></td>
                <td th:text="${order.admin.fullName}"></td>
                <td></td>
                <td></td>

                <td><a th:href="@{order-update/{id}(id=${order.id})}">Edit</a></td>
                <td><a th:href="@{order-delete/{id}(id=${order.id})}">Delete</a></td>
            </tr>
            </tbody>
        </table>
        </div>
    </div>
    <p><a href="/order-create">Create Order</a></p>
</div>
</body>
</html>