<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<meta charset="UTF-8">
<title>Update order</title>
</head>
<body>
<form action="#" th:action="@{/order-update}" th:object="${order}" method="post">
    <label for="id">ID</label>
    <input readonly type="number" th:field="*{id}" id="id" placeholder="ID">
    <br/>
    <label for="order_name">Order name</label>
    <input type="text" th:field="*{order_name}" id="order_name" placeholder="Order name">
    <br/>
        <label for="ransom_sum">Order price</label>
        <input type="text" th:field="*{ransom_sum}" id="ransom_sum" placeholder="Order price">

    <br/>
    <label for="order_date">Order date</label>
    <input type="datetime-local" th:field="*{order_date}" id="order_date" placeholder="Order date">
    <br/>
    <label for="delivery_price">Delivery price</label>
    <input type="text" th:field="*{delivery_price}" id="delivery_price" placeholder="Delivery price">
    <br/>

    <label for="comment">Comment</label>
    <input type="text" th:field="*{comment}" id="comment" placeholder="Comment">

    <br/>
    <label class="label-courier">Couriers</label>
    <select  th:field="*{courier}" class="label-courier">
        <th:block th:each="cour : ${couriers}">
            <option th:text="${cour.fullName}" th:value="${cour.id}"/>
        </th:block>
    </select>

    <br/>
    <label class="label-admin">Admins</label>
    <select  th:field="*{admin}" class="label-admin">
        <th:block th:each="adm : ${admins}">
            <option th:text="${adm.fullName}" th:value="${adm.id}"/>
        </th:block>
    </select>

    <input type="submit" value="Update Order">
</form>
</body>
</html>